<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>08-双向绑定指令</title>
</head>
<body>
    <!-- 希望 Vue 能够控制下面的这个 div，帮我们在把数据填充到 div 内部 -->
    <div id="app">
        <p>用户的名字是：{{ username }}</p>
        <!-- v-model是双向数据绑定 修改 input 中的值 model 中的值也会改变，修改model中的值input中的值也会改变 -->
        <input type="text" v-model="username">
        
        <hr>
        <!-- 单向数据绑定 -->
        <input type="text" :value="username">

        <hr>
        <!-- 这里的 div 标签使用 v-model 指令是没有意义的，因为无法展示数据，所以只有表单元素才能使用 v-model元素 -->
        <div v-model="username"></div>

        <hr>
        <!-- 用户选择这个值的时候能够双向绑定到数据源 -->
        <select v-model="city">
            <option value="">请选择城市</option>
            <option value="1">北京</option>
            <option value="2">上海</option>
            <option value="3">广州</option>
        </select>
    </div>

    <!-- 1.导入 vue 的库文件，在 window 全局就有了 Vue 这个构造函数 -->
    <script src="./lib/vue-2.6.12.js"></script>
    <!-- 2.创建 Vue 的实例对象 -->
    <script>
        // 创建 Vue 的实例对象
        const vm = new Vue({
            // el 属性是固定的写法，表示当前 vm 实例要控制页面上的哪个区域，接收的值是一个选择器
            el: '#app',
            // data 对象就是要渲染到页面上的数据
            data: {
                username: 'zhangsan',
                city: '2' // 设置默认值是上海
            }
        })
    </script>
</body>
</html>